@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    background-color: #AF8260;
}

.bateria {
    font-size: 3em;
}

#teclas{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 5px;
}

.tecla {
    margin: 5px auto;
    height: 150px;
    width: 150px;
    font-size: 3em;
    border: 3px solid #322C2B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.tecla.keypress{
    border: 3px solid #E4C59E;
    color: #E4C59E;
    box-shadow: inset 0px 0px 10px black;
}

.compor{
    margin: 20px auto;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input{
    width: 400px;
    padding: 10px;
    border: 3px solid #322C2B;
    background-color: rgba(255, 255, 255, 0.437);
}

.btnTocar {
    background-color: transparent;
    border: 3px solid #322C2B;
    font-size: 1.5em;
    padding: 0.3em 1em;
    cursor: pointer;
}



